### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### ides and tools ###
.vscode/
.idea
### Mac OS ###
.DS_Store

## My rules for my agent (learning case)

GEMINI.md
## All right, im gettin some questions from this file, I`m NOT vibe coding
## I learn by making but sometimes finding the ideal resourse for read a simple thing about the sintaxis is
## somthing  that i dont whant to do so, im using this IA for research, not CTRL + C, CTRL + V
## Im coding every line so dont worry about this. U are NOT reading IA SLOP. Thanks for the time reading this!

##test folder

test/
target/